| ![EEW logo](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/eew.jpg?raw=true) | ![EDGI logo](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/edgi.png?raw=true) |
|---|---|

#### This notebook is licensed under GPL 3.0. Please visit our Github repo for more information: 
#### The notebook was collaboratively authored by the Environmental Data & Governance Initiative (EDGI) following our authorship protocol: https://docs.google.com/document/d/1CtDN5ZZ4Zv70fHiBTmWkDJ9mswEipX6eCYrwicP66Xw/
#### For more information about this project, visit https://www.environmentalenforcementwatch.org/

## How to Run this Notebook
* If you click on a gray **code** cell, a little “play button” arrow appears on the left. If you click the play button, it will run the code in that cell (“**running** a cell”). The button will animate. When the animation stops, the cell has finished running.
![Where to click to run the cell](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/pressplay.JPG?raw=true)
* You may get a warning that the notebook was not authored by Google. We know, we authored them! It’s okay. Click “Run Anyway” to continue. 
![Error Message](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/warning-message.JPG?raw=true)
* Run all of the cells in a Notebook to make a complete report. Please feel free to look at and **learn about each result as you create it**!

---

# Nationwide statistics about environmental compliance trends

## Setup
Here we load some helper code to get us going.

In [ ]:
# Import code libraries
!git clone https://github.com/edgi-govdata-archiving/ECHO_modules.git &>/dev/null;
%run ECHO_modules/DataSet.py

import urllib.parse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import csv
import datetime
import folium
from folium.plugins import FastMarkerCluster
import ipywidgets as widgets
from IPython.core.display import display, HTML
from pandas.errors import EmptyDataError
def formatter(value):
  return "{:0.2f}".format(value)

Here we set up some code to help us store and eventually export the metrics.

In [ ]:
inspections = dict()
violations = dict()
enforcements = dict()
penalties = dict()
emissions = dict()

## Start getting data
First, get summary data from the ECHO_EXPORTER table.

In [ ]:
# Get everything we will need from ECHO_EXPORTER in a single DB query.
# We can then use the full dataframe to specialize views of it.
full_echo_data = None
column_mapping = {
    '"REGISTRY_ID"': str,
    '"FAC_NAME"': str,
    '"FAC_LAT"': float,
    '"FAC_LONG"': float,
    '"AIR_IDS"': str,
    '"NPDES_IDS"': str,
    '"RCRA_IDS"': str,
    '"DFR_URL"': str,
    '"AIR_FLAG"': str,
    '"NPDES_FLAG"': str,
    '"GHG_FLAG"': str,
    '"RCRA_FLAG"': str,
    '"FAC_ACTIVE_FLAG"': str
}
column_names = list( column_mapping.keys() )
columns_string = ','.join( column_names )
sql = 'select ' + columns_string + ' from "ECHO_EXPORTER" where "AIR_FLAG" = \'Y\' or "NPDES_FLAG" = \'Y\' or "GHG_FLAG" = \'Y\' or "RCRA_FLAG" = \'Y\''
try:
    # Don't index.
    full_echo_data = get_data( sql )
except EmptyDataError:
    print("\nThere are no EPA facilities for this query.\n")
full_echo_data

          REGISTRY_ID  ... FAC_ACTIVE_FLAG
0        1.100063e+11  ...               Y
1        1.100078e+11  ...               Y
2        1.100116e+11  ...             NaN
3        1.100196e+11  ...               Y
4        1.100210e+11  ...             NaN
...               ...  ...             ...
1863745  1.100037e+11  ...               Y
1863746  1.100424e+11  ...             NaN
1863747  1.100708e+11  ...             NaN
1863748  1.100332e+11  ...             NaN
1863749  1.100421e+11  ...               Y

[1863750 rows x 13 columns]

## Number of Currently Regulated Facilities Per Program

In [ ]:
air_fac = full_echo_data.loc[(full_echo_data["AIR_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]
water_fac = full_echo_data.loc[(full_echo_data["NPDES_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]
waste_fac = full_echo_data.loc[(full_echo_data["RCRA_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]
ghg_fac = full_echo_data.loc[(full_echo_data["GHG_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]

display(HTML("<h3>There are "+ str(air_fac) + " facilities currently regulated under the Clean Air Act.</h3>"))
display(HTML("<h3>There are "+ str(water_fac) + " facilities currently regulated under the Clean Water Act.</h3>"))
display(HTML("<h3>There are "+ str(waste_fac) + " facilities currently regulated under RCRA (hazardous waste).</h3>"))
display(HTML("<h3>There are "+ str(ghg_fac) + " facilities currently reporting greenhouse gas emissions.</h3>"))

## Clean Air Act inspections in 2019

In [ ]:
# Use SQL to search for and select the data about air stack tests
air_inspections = None
try:
    sql = 'select * from \"ICIS-AIR_FCES_PCES\" where \"ACTUAL_END_DATE\" like \'__-__-2019\''

    # Download the data from that URL
    air_inspections = get_data( sql, 'pgm_sys_id' )
except EmptyDataError:
    print( "No data found")

air_inspections

               PGM_SYS_ID  ...                       PROGRAM_CODES
0      020000003606390000  ...                    CAACFC, CAAFESOP
1      020000003606501000  ...                               CAAOP
2      020000003606501000  ...                       CAANAM, CAAOP
3      020000003606501000  ...                              CAASIP
4      020000003606501000  ...                              CAASIP
...                   ...  ...                                 ...
48941  VA0000005155000092  ...            CAAMACT, CAANSPS, CAASIP
48942  VA0000005155000092  ...  CAAFESOP, CAAMACT, CAANSPS, CAASIP
48943  VA0000005155000092  ...                    CAAMACT, CAANSPS
48944  VA0000005155000092  ...            CAAMACT, CAANSPS, CAASIP
48945  VA0000005162000054  ...                     CAAMACT, CAASIP

[48946 rows x 9 columns]

In [ ]:
# Number of inspections in 2019 per 1000 regulated facilities
air_inspections_metric = formatter((air_inspections.shape[0] / air_fac) * 1000) # Divide by regulated facilities and multiply by desired rate (per 1000)
inspections["CAA"] = air_inspections_metric
display(HTML("<h3>"+ air_inspections_metric +" inspections per 1000 facilities</h3>"))

## Violations of the Clean Air Act in 2019

In [ ]:
air_violations = None
try:
    sql = 'select * from "ICIS-AIR_VIOLATION_HISTORY" where "EARLIEST_FRV_DETERM_DATE" like \'__-__-2019\' or "HPV_DAYZERO_DATE" like \'__-__-2019\''

    air_violations = get_data( sql, "pgm_sys_id" )

    # Remove "FACIL" violations, which are paperwork violations according to: https://19january2017snapshot.epa.gov/sites/production/files/2013-10/documents/frvmemo.pdf
    # air_violations = air_violations.loc[(air_violations["POLLUTANT_DESCS"]!="FACIL")]
except EmptyDataError:
    print( "No data found")
air_violations

              PGM_SYS_ID  ACTIVITY_ID  ... HPV_DAYZERO_DATE HPV_RESOLVED_DATE
0     FL0000001200500009   3601741276  ...              NaN        05-13-2019
1     IA0000001901900052   3601913691  ...              NaN        07-24-2019
2         IL000163020AAB   3601954355  ...              NaN               NaN
3     IN0000001803900097   3601869864  ...              NaN               NaN
4     IN0000001803300043   3601685463  ...       01-13-2019               NaN
...                  ...          ...  ...              ...               ...
4043  CO0000000803102488   3602151392  ...              NaN        02-12-2020
4044  MN0000002700100021   3602178887  ...              NaN        01-03-2020
4045          CABAAA0085   3602188895  ...       07-23-2019        06-04-2020
4046         PA000633228   3602223361  ...              NaN               NaN
4047  NY0000005415200205   3602231697  ...              NaN               NaN

[4048 rows x 14 columns]

In [ ]:
# Number of high priority and federally reportable violations per 1000 regulated facilities
air_violations_metric = formatter((air_violations.shape[0] / air_fac) * 1000) # Divide by regulated facilities and multiply by desired rate (per 1000)
violations["CAA"] = air_violations_metric
display(HTML("<h3>"+air_violations_metric+" violations per 1000 facilities </h3>"))

## Formal Enforcement Actions and Penalties under the Clean Air Act in 2019

In [ ]:
air_enforcements = None
try:
    sql = 'select * from "ICIS-AIR_FORMAL_ACTIONS" where "SETTLEMENT_ENTERED_DATE" like \'__/__/2019\''

    air_enforcements = get_data( sql, "pgm_sys_id" )
except EmptyDataError:
    print( "No data found")
air_enforcements

              PGM_SYS_ID  ACTIVITY_ID  ... SETTLEMENT_ENTERED_DATE PENALTY_AMOUNT
0     PAACH0004200300265    600012807  ...              08/09/2019            0.0
1     WI0000005503100010   1400038060  ...              05/17/2019            0.0
2     WI0000005503100062   1400038060  ...              05/17/2019            0.0
3     MI00000000000A0703   3601603698  ...              08/08/2019        24850.0
4     MO0000002907100003   1800024634  ...              09/30/2019            0.0
...                  ...          ...  ...                     ...            ...
2641  MN0000002712900051   3602044359  ...              08/15/2019            0.0
2642  MN0000002701300084   3602044348  ...              08/07/2019            0.0
2643  ME0000002300509022   3600396111  ...              12/19/2019        40000.0
2644  OR0000004105101876   3602093446  ...              10/22/2019        46800.0
2645  MI00000000000N7688   3602237523  ...              08/08/2019        54600.0

[2646 rows x 10 columns]

In [ ]:
# Number of formal actions in 2019 per violation
air_enforcements_metric = formatter(air_enforcements.shape[0]/air_violations.shape[0]) # Formal actions divided by number of violations
enforcements["CAA"] = air_enforcements_metric
display(HTML("<h3>"+air_enforcements_metric +" formal enforcement actions per violation</h3>"))

In [ ]:
# Penalties each year per violating facility
air_penalties = air_enforcements.loc[air_enforcements["PENALTY_AMOUNT"]>0]
air_penalties_metric = formatter(sum(air_penalties["PENALTY_AMOUNT"]) / len(air_violations["PGM_SYS_ID"].unique())) #Divide the sum of penalties by number of violating facilities
air_penalties_max = formatter(max(air_penalties["PENALTY_AMOUNT"])) 
air_penalties_min = formatter(min(air_penalties["PENALTY_AMOUNT"])) 
penalties["CAA"] = air_penalties_metric
display(HTML("<h3>$"+air_penalties_metric +" per facility in violation</h3>"))
display(HTML("<h3>Max: $"+air_penalties_max +"</h3>"))
display(HTML("<h3>Min: $"+air_penalties_min +"</h3>"))

---

## Clean Water Act inspections in 2019

In [ ]:
# Find facilities with pollutant exceedences
water_inspections = None
try:
    sql = 'select "NPDES_ID", "REGISTRY_ID", "ACTUAL_END_DATE", "STATE_EPA_FLAG"' + \
        ' from "NPDES_INSPECTIONS" where "ACTUAL_END_DATE" like \'__/__/2019\''

    water_inspections = get_data( sql, "NPDES_ID" ) 
except EmptyDataError:
    print( "No data found")
water_inspections

            REGISTRY_ID ACTUAL_END_DATE STATE_EPA_FLAG
NPDES_ID
AK0000507  110030488620      12/17/2019              S
AK0021385  110000761453      08/26/2019              E
AK0022497  110039730459      02/25/2019              S
AKG370029  110028064387      08/21/2019              S
AKG520042  110064604094      06/07/2019              S
...                 ...             ...            ...
WYR001018  110055190369      03/08/2019              S
WYR001071  110055194533      11/15/2019              S
WYR001156  110064597716      02/12/2019              S
WYR001176  110064614715      02/26/2019              S
WYR001253  110055183705      01/30/2019              S

[52067 rows x 3 columns]

In [ ]:
# Number of inspections in 2019 per 1000 regulated facilities
water_inspections_metric = formatter((water_inspections.shape[0] / water_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
inspections["CWA"] = water_inspections_metric
display(HTML("<h3>"+water_inspections_metric +" inspections per 1000 facilities</h3>"))

## Violations of the Clean Water Act in 2019

In [ ]:
# Find facilities with water permit violations
water_violations = None
try:
    sql = 'select * from "NPDES_QNCR_HISTORY" where "YEARQTR" = 20191 or "YEARQTR" = 20192 or "YEARQTR" = 20193 or "YEARQTR" = 20194'
    water_violations = get_data( sql, "NPDES_ID" ) 
except EmptyDataError:
    print( "No data found")
water_violations

           YEARQTR HLRNC  NUME90Q  NUMCVDT  NUMSVCD  NUMPSCH
NPDES_ID
AK0000272    20191     C        0        0        0        0
AK0000272    20192     C        0        0        0        0
AK0000272    20193     C        0        0        0        0
AK0000345    20191              0        0        0        2
AK0000345    20192              0        0        0        2
...            ...   ...      ...      ...      ...      ...
WVG550359    20192     C        0        0        0        0
WVG550359    20193     C        0        0        0        0
WVG550359    20194     C        0        0        0        0
WVG550361    20191     D        0        0        1        0
WVG550361    20192     D        0        0        1        0

[490942 rows x 6 columns]

In [ ]:
# Number of violations each year per 1000 regulated facilities
# Sum violations 
water_violations["Sum"] = water_violations["NUME90Q"]	+ water_violations["NUMCVDT"] + water_violations["NUMSVCD"]	+ water_violations["NUMPSCH"]
water_violations_metric = formatter((np.sum(water_violations["Sum"]) / water_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
violations["CWA"] = water_violations_metric
display(HTML("<h3>"+water_violations_metric+" violations per 1000 facilities</h3>"))

## Enforcement Actions and Penalties under the Clean Water Act in 2019

In [ ]:
# Find facilities with pollutant exceedences
water_enforcements = None
try:
    sql = 'select "NPDES_ID", "AGENCY", "ENF_TYPE_DESC", "SETTLEMENT_ENTERED_DATE", "FED_PENALTY_ASSESSED_AMT", "STATE_LOCAL_PENALTY_AMT"' + \
        ' from "NPDES_FORMAL_ENFORCEMENT_ACTIONS" where "SETTLEMENT_ENTERED_DATE" like \'__/__/2019\''

    water_enforcements = get_data( sql, "NPDES_ID" ) 
except EmptyDataError:
    print( "No data found")
water_enforcements

          AGENCY  ... STATE_LOCAL_PENALTY_AMT
NPDES_ID          ...
AL0032310    EPA  ...                     NaN
ALP000225  State  ...                 29150.0
AR0001678  State  ...                     NaN
CA0048127  State  ...                     NaN
CA0053597  State  ...                     NaN
...          ...  ...                     ...
NYA00E506  State  ...                  4300.0
ORR221385    EPA  ...                     NaN
PA0272736  State  ...                   500.0
PAG130108  State  ...                     NaN
TXR05CA36  State  ...                 25000.0

[4019 rows x 5 columns]

In [ ]:
# Number of formal actions in 2019 per violation
water_enforcements_metric = formatter(water_enforcements.shape[0]/water_violations.shape[0]) # Formal actions divided by number of violations
enforcements["CWA"] = water_enforcements_metric
display(HTML("<h3>"+water_enforcements_metric +" formal enforcement actions per violation</h3>"))

In [ ]:
# Penalties each year per violating facility
# Find violating facilities (not all in NPDES QNCR are violating...)
water_violators = water_violations.loc[water_violations["Sum"]>0]
water_violators = len(water_violators.index.unique())
water_enforcements["StateLocalFedFines"] = water_enforcements["FED_PENALTY_ASSESSED_AMT"].fillna(0) + water_enforcements["STATE_LOCAL_PENALTY_AMT"].fillna(0)
water_penalties = water_enforcements.loc[water_enforcements["StateLocalFedFines"]>0]
water_penalties_metric = formatter(sum(water_penalties["StateLocalFedFines"]) / water_violators) #Divide the sum of penalties by number of penalized facilities
water_penalties_max = formatter(max(water_penalties["StateLocalFedFines"])) 
water_penalties_min = formatter(min(water_penalties["StateLocalFedFines"]))
penalties["CWA"] = water_penalties_metric
display(HTML("<h3>$"+water_penalties_metric +" per facility in violation</h3>"))
display(HTML("<h3>Max: $"+water_penalties_max +"</h3>"))
display(HTML("<h3>Min: $"+water_penalties_min +"</h3>"))

## RCRA inspections in 2019

In [ ]:
# Find facilities with pollutant exceedences
waste_inspections = None
try:
    sql = 'select * from "RCRA_EVALUATIONS" where "EVALUATION_START_DATE" like \'__/__/2019\''

    waste_inspections = get_data( sql, "ID_NUMBER" ) 
except EmptyDataError:
    print( "No data found")
waste_inspections

             ACTIVITY_LOCATION  ... FOUND_VIOLATION
ID_NUMBER                       ...
WID006129225                WI  ...             Y
KYR000056879                KY  ...             N
KYD006376347                KY  ...             N
KYD981853005                KY  ...             N
NCD986166338                NC  ...             N
...                        ...  ...             ...
FLR000233106                FL  ...             Y
FL8570024366                FL  ...             Y
FLD032470031                FL  ...             N
FL2800016121                FL  ...             N
FLR000126573                FL  ...             Y

[22609 rows x 7 columns]

In [ ]:
# Number of inspections in 2019 per 1000 regulated facilities
waste_inspections_metric = formatter((waste_inspections.shape[0] / waste_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
inspections["RCRA"] = waste_inspections_metric
display(HTML("<h3>"+waste_inspections_metric+" inspections per 1000 facilities</h3>"))

## Violations of RCRA in 2019

In [ ]:
# Find facilities with pollutant exceedences
waste_violations = None
try:
    sql = 'select * from "RCRA_VIOLATIONS" where "DATE_VIOLATION_DETERMINED" like \'__/__/2019\''

    waste_violations = get_data( sql, "ID_NUMBER" ) 
except EmptyDataError:
    print( "No data found")
waste_violations

             ACTIVITY_LOCATION  ... SCHEDULED_COMPLIANCE_DATE
ID_NUMBER                       ...
RIR000501171                RI  ...                       NaN
MID006020275                MI  ...                       NaN
SCD069316271                SC  ...                       NaN
LAD981512460                LA  ...                       NaN
SCR000774323                SC  ...                       NaN
...                        ...  ...                       ...
WID020451456                WI  ...                06/22/2019
TXD981612989                TX  ...                       NaN
WAH000022560                WA  ...                       NaN
WIR000124834                WI  ...                05/05/2019
WID027905793                WI  ...                05/25/2019

[14621 rows x 7 columns]

In [ ]:
# Number of violations in 2019 per 1000 regulated facilities
waste_violations_metric = formatter((waste_violations.shape[0] / waste_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
violations["RCRA"] = waste_violations_metric
display(HTML("<h3>"+waste_violations_metric+" violations per 1000 facilities</h3>"))

## Enforcement Actions and Penalties under RCRA in 2019

In [ ]:
# Find facilities with enforcement actions
waste_enforcements = None
try:
    sql = 'select * from "RCRA_ENFORCEMENTS" where "ENFORCEMENT_ACTION_DATE" like \'__/__/2019\''

    waste_enforcements = get_data( sql, "ID_NUMBER" ) 
except EmptyDataError:
    print( "No data found")
waste_enforcements

             ACTIVITY_LOCATION ENFORCEMENT_IDENTIFIER  ... FSC_AMOUNT SCR_AMOUNT
ID_NUMBER                                              ...
ALD077647691                AL                    001  ...        NaN        NaN
ALD981020894                AL                    001  ...        NaN        NaN
AKD991281023                AK                    001  ...        NaN        NaN
ALD046481032                AL                    001  ...        NaN        NaN
ALD057202558                AL                    001  ...        NaN        NaN
...                        ...                    ...  ...        ...        ...
WID114105547                WI                    001  ...        NaN        NaN
WVR000529974                WV                    001  ...        NaN        NaN
WVR000546945                WV                    001  ...        NaN        NaN
WVR000547752                WV                    001  ...        NaN        NaN
WVR000547760                WV                    001  ...        NaN        NaN

[6988 rows x 10 columns]

In [ ]:
# Number of enforcement actions each year per violation
waste_enforcements_metric = formatter(waste_enforcements.shape[0] / waste_violations.shape[0])
enforcements["RCRA"] = waste_enforcements_metric
display(HTML("<h3>"+waste_enforcements_metric+" enforcement actions per violation</h3>"))

In [ ]:
# Penalties each year per violating facility
waste_penalties = waste_enforcements.loc[waste_enforcements["FMP_AMOUNT"]>0]
waste_penalties_metric = formatter(sum(waste_penalties["FMP_AMOUNT"]) / len(waste_violations.index.unique())) #Divide by penalized facilities
waste_penalties_max = formatter(max(waste_penalties["FMP_AMOUNT"]))
waste_penalties_min = formatter(min(waste_penalties["FMP_AMOUNT"]))
penalties["RCRA"] = waste_penalties_metric
display(HTML("<h3>$"+waste_penalties_metric +" per facility in violation</h3>"))
display(HTML("<h3>Max: $"+waste_penalties_max +"</h3>"))
display(HTML("<h3>Min: $"+waste_penalties_min +"</h3>"))

## Greenhouse Gas Emissions in 2018 (latest data available)

In [ ]:
# Find GHG emissions
ghg_emissions = None
try:
    sql = 'select * from "POLL_RPT_COMBINED_EMISSIONS" where "REPORTING_YEAR" = \'2018\' and "PGM_SYS_ACRNM" = \'E-GGRT\''

    ghg_emissions = get_data( sql) 
except EmptyDataError:
    print( "No data found")
ghg_emissions

       REPORTING_YEAR   REGISTRY_ID  ... NEI_TYPE  NEI_HAP_VOC_FLAG
0                2018  110000492020  ...      NaN               NaN
1                2018  110000492020  ...      NaN               NaN
2                2018  110000492020  ...      NaN               NaN
3                2018  110024586544  ...      NaN               NaN
4                2018  110024586544  ...      NaN               NaN
...               ...           ...  ...      ...               ...
21678            2018  110035968584  ...      NaN               NaN
21679            2018  110035968584  ...      NaN               NaN
21680            2018  110040959558  ...      NaN               NaN
21681            2018  110040959558  ...      NaN               NaN
21682            2018  110043788390  ...      NaN               NaN

[21683 rows x 9 columns]

In [ ]:
# Emissions in 2018 per facility
ghg_emissions_metric = formatter(np.nansum(ghg_emissions["ANNUAL_EMISSION"]) / len(ghg_emissions["REGISTRY_ID"].unique())) #Divide by reporting facility
ghg_emissions_fac = ghg_emissions.groupby("PGM_SYS_ID")[["ANNUAL_EMISSION"]].sum() # Group by facility
ghg_emissions_max = formatter(np.nanmax(ghg_emissions_fac["ANNUAL_EMISSION"]))
ghg_emissions_min = formatter(np.nanmin(ghg_emissions_fac.loc[ghg_emissions_fac["ANNUAL_EMISSION"]>0]["ANNUAL_EMISSION"]))
emissions["GHG"] = ghg_emissions_metric
display(HTML("<h3>"+ghg_emissions_metric+" MTCO2e (metric tons of carbon dioxide equivalent) emissions per reporting facility</h3>"))
display(HTML("<h3>Max: "+ghg_emissions_max+" MTCO2e (metric tons of carbon dioxide equivalent) emissions</h3>"))
display(HTML("<h3>Min: "+ghg_emissions_min+" MTCO2e (metric tons of carbon dioxide equivalent) emissions</h3>"))
ghg_emissions_fac

            ANNUAL_EMISSION
PGM_SYS_ID
1000001          302529.480
1000002          110511.712
1000003           79393.210
1000004           55547.748
1000005           83863.020
...                     ...
1013419           28467.792
1013420           28356.444
1013481           29375.000
1013489           26073.752
1013497           53000.500

[7724 rows x 1 columns]

# Data Export

In [ ]:
data = [inspections,
violations,
enforcements,
penalties,
emissions]

units = ["#inspections per 1000",
"#violations per 1000",
"#actions per facility in violation",
"$ per facility in violation",
"amount of emissions (metric tons)"]

short_units = ["inspectionsper1000",
"violationsper1000",
"enforcementsperviolatingfacility",
"penaltiesperviolatingfacility",
"emissions2018"]

for index, program in enumerate(data):
    # create dataframe
    df = pd.DataFrame(program, index=[0]).T
    df = df.rename(columns={0: units[index]})
    filename= short_units[index]+"_All_USA_pg4_090120.csv" #active-facilities_All_MA-CD4_3b_080620.csv
    df.to_csv(filename)
    print(df)

     #inspections per 1000
CAA                 261.62
CWA                 148.03
RCRA                 37.30
     #violations per 1000
CAA                 21.64
CWA               1107.71
RCRA                24.12
     #actions per facility in violation
CAA                                0.65
CWA                                0.01
RCRA                               0.48
     $ per facility in violation
CAA                     22985.04
CWA                      4451.78
RCRA                     3165.75
    amount of emissions (metric tons)
GHG                         422134.34