| ![EEW logo](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/eew.jpg?raw=true) | ![EDGI logo](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/edgi.png?raw=true) |
|---|---|

#### This notebook is licensed under GPL 3.0. Please visit our Github repo for more information: 
#### The notebook was collaboratively authored by the Environmental Data & Governance Initiative (EDGI) following our authorship protocol: https://docs.google.com/document/d/1CtDN5ZZ4Zv70fHiBTmWkDJ9mswEipX6eCYrwicP66Xw/
#### For more information about this project, visit https://www.environmentalenforcementwatch.org/

## How to Run this Notebook
* If you click on a gray **code** cell, a little “play button” arrow appears on the left. If you click the play button, it will run the code in that cell (“**running** a cell”). The button will animate. When the animation stops, the cell has finished running.
![Where to click to run the cell](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/pressplay.JPG?raw=true)
* You may get a warning that the notebook was not authored by Google. We know, we authored them! It’s okay. Click “Run Anyway” to continue. 
![Error Message](https://github.com/edgi-govdata-archiving/EEW-Image-Assets/blob/master/Jupyter%20instructions/warning-message.JPG?raw=true)
* Run all of the cells in a Notebook to make a complete report. Please feel free to look at and **learn about each result as you create it**!

---

# Nationwide statistics about environmental compliance trends

## Setup
Here we load some helper code to get us going.

In [ ]:
# Import code libraries
!git clone https://github.com/edgi-govdata-archiving/ECHO_modules.git &>/dev/null;
%run ECHO_modules/DataSet.py

import urllib.parse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import csv
import datetime
import folium
from folium.plugins import FastMarkerCluster
import ipywidgets as widgets
from IPython.core.display import display, HTML
from pandas.errors import EmptyDataError
def formatter(value):
  return "{:0.2f}".format(value)

Here we set up some code to help us store and eventually export the metrics.

In [ ]:
inspections = dict()
violations = dict()
enforcements = dict()
penalties = dict()
emissions = dict()

## Start getting data
First, get summary data from the ECHO_EXPORTER table.

In [ ]:
# Get everything we will need from ECHO_EXPORTER in a single DB query.
# We can then use the full dataframe to specialize views of it.
full_echo_data = None
column_mapping = {
    '"REGISTRY_ID"': str,
    '"FAC_NAME"': str,
    '"FAC_LAT"': float,
    '"FAC_LONG"': float,
    '"AIR_IDS"': str,
    '"NPDES_IDS"': str,
    '"RCRA_IDS"': str,
    '"DFR_URL"': str,
    '"AIR_FLAG"': str,
    '"NPDES_FLAG"': str,
    '"GHG_FLAG"': str,
    '"RCRA_FLAG"': str,
    '"FAC_ACTIVE_FLAG"': str
}
column_names = list( column_mapping.keys() )
columns_string = ','.join( column_names )
sql = 'select ' + columns_string + ' from "ECHO_EXPORTER" where "AIR_FLAG" = \'Y\' or "NPDES_FLAG" = \'Y\' or "GHG_FLAG" = \'Y\' or "RCRA_FLAG" = \'Y\''
try:
    # Don't index.
    full_echo_data = get_data( sql )
except EmptyDataError:
    print("\nThere are no EPA facilities for this query.\n")
full_echo_data

          REGISTRY_ID  ... FAC_ACTIVE_FLAG
0        1.100042e+11  ...             NaN
1        1.100006e+11  ...             NaN
2        1.100706e+11  ...               Y
3        1.100202e+11  ...             NaN
4        1.100557e+11  ...               Y
...               ...  ...             ...
1860451  1.100707e+11  ...             NaN
1860452  1.100700e+11  ...             NaN
1860453  1.100073e+11  ...               Y
1860454  1.100330e+11  ...             NaN
1860455  1.100706e+11  ...               Y

[1860456 rows x 13 columns]

## Number of Currently Regulated Facilities Per Program

In [ ]:
air_fac = full_echo_data.loc[(full_echo_data["AIR_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]
water_fac = full_echo_data.loc[(full_echo_data["NPDES_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]
waste_fac = full_echo_data.loc[(full_echo_data["RCRA_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]
ghg_fac = full_echo_data.loc[(full_echo_data["GHG_FLAG"]=="Y") & (full_echo_data["FAC_ACTIVE_FLAG"]=="Y")].shape[0]

display(HTML("<h3>There are "+ str(air_fac) + " facilities currently regulated under the Clean Air Act.</h3>"))
display(HTML("<h3>There are "+ str(water_fac) + " facilities currently regulated under the Clean Water Act.</h3>"))
display(HTML("<h3>There are "+ str(waste_fac) + " facilities currently regulated under RCRA (hazardous waste).</h3>"))
display(HTML("<h3>There are "+ str(ghg_fac) + " facilities currently reporting greenhouse gas emissions.</h3>"))

## Clean Air Act inspections in 2019

In [ ]:
# Use SQL to search for and select the data about air stack tests
air_inspections = None
try:
    sql = 'select * from \"ICIS-AIR_FCES_PCES\" where \"ACTUAL_END_DATE\" like \'__-__-2019\''

    # Download the data from that URL
    air_inspections = get_data( sql, 'pgm_sys_id' )
except EmptyDataError:
    print( "No data found")

air_inspections

               PGM_SYS_ID  ...                     PROGRAM_CODES
0      020000003606390000  ...                  CAACFC, CAAFESOP
1      020000003606501000  ...                             CAAOP
2      020000003606501000  ...                     CAANAM, CAAOP
3      020000003606501000  ...                            CAASIP
4      020000003606501000  ...                            CAASIP
...                   ...  ...                               ...
48869  WAPSC0005305312230  ...                           CAANSPS
48870  WAPSC0005305315100  ...                  CAAMACT, CAANSPS
48871  WAPSC0005305316052  ...                          CAAFESOP
48872  WAPSC0005305316052  ...                          CAAFESOP
48873  WA0000005300500009  ...  CAAFENF, CAANESH, CAASIP, CAATVP

[48874 rows x 9 columns]

In [ ]:
# Number of inspections in 2019 per 1000 regulated facilities

air_inspections_metric = formatter((air_inspections.shape[0] / air_fac) * 1000) # Divide by regulated facilities and multiply by desired rate (per 1000)
inspections["CAA"] = air_inspections_metric
display(HTML("<h3>"+ air_inspections_metric +" inspections per 1000 facilities</h3>"))

## High priority violations of the Clean Air Act in 2019

In [ ]:
air_violations = None
try:
    sql = 'select * from "ICIS-AIR_VIOLATION_HISTORY" where "HPV_DAYZERO_DATE" like \'__-__-2019\''

    air_violations = get_data( sql, "pgm_sys_id" )

    # Remove "FACIL" violations, which are paperwork violations according to: https://19january2017snapshot.epa.gov/sites/production/files/2013-10/documents/frvmemo.pdf
    # air_violations = air_violations.loc[(air_violations["POLLUTANT_DESCS"]!="FACIL")]
except EmptyDataError:
    print( "No data found")
air_violations

             PGM_SYS_ID  ACTIVITY_ID  ... HPV_DAYZERO_DATE HPV_RESOLVED_DATE
0    IN0000001803300043   3601685463  ...       01-13-2019               NaN
1    IN0000001801900008   3601799804  ...       04-30-2019        05-26-2020
2    IN0000001801900008   3602022157  ...       12-24-2019               NaN
3    MN0000002704700055   3602241949  ...       04-23-2019        06-04-2020
4           PA000493288   3601889184  ...       06-06-2019        04-23-2020
..                  ...          ...  ...              ...               ...
814  IN0000001801900155   3602134543  ...       12-16-2019               NaN
815   WAORC005302700058   3602032106  ...       10-29-2019               NaN
816  CO0000000812309FC0   3602053305  ...       06-25-2019        10-03-2019
817  AL0000000104900048   3602051772  ...       11-05-2019               NaN
818          CABAAA0085   3602188895  ...       07-23-2019        06-04-2020

[819 rows x 14 columns]

In [ ]:
# Number of high priority violations per 1000 regulated facilities

#air_violations_fac = air_violations.shape[0] / len(air_violations["PGM_SYS_ID"].unique()) # Total number of violations divided by number of facilities with violations. Will use this later in looking at enforcement actions.
air_violations_metric = formatter((air_violations.shape[0] / air_fac) * 1000) # Divide by regulated facilities and multiply by desired rate (per 1000)
violations["CAA"] = air_violations_metric
display(HTML("<h3>"+air_violations_metric+" high priority violations per 1000 facilities </h3>"))

## Formal Enforcement Actions and Penalties under the Clean Air Act in 2019

In [ ]:
air_enforcements = None
try:
    sql = 'select * from "ICIS-AIR_FORMAL_ACTIONS" where "SETTLEMENT_ENTERED_DATE" like \'__/__/2019\''

    air_enforcements = get_data( sql, "pgm_sys_id" )
except EmptyDataError:
    print( "No data found")
air_enforcements

              PGM_SYS_ID  ACTIVITY_ID  ... SETTLEMENT_ENTERED_DATE PENALTY_AMOUNT
0     OH0000000627010056        31941  ...              07/17/2019            0.0
1     OH0000000684000000        31941  ...              07/17/2019            0.0
2     IN0000001802900002        31941  ...              07/17/2019            0.0
3     IN0000001814700020        31941  ...              07/17/2019            0.0
4     OH0000000165000006        31941  ...              07/17/2019            0.0
...                  ...          ...  ...                     ...            ...
2643  HI0000001500700066   3602236126  ...              07/11/2019        22800.0
2644  MI00000000000N7688   3602237523  ...              08/08/2019        54600.0
2645  WASPC0005306310023   3602245188  ...              12/31/2019        32000.0
2646  LA0000002212500007   3602258171  ...              01/11/2019         7597.9
2647  LA0000002208900167   3602258178  ...              03/25/2019            0.0

[2648 rows x 10 columns]

In [ ]:
# Number of formal actions in 2019 per violation

air_enforcements_metric = formatter(air_enforcements.shape[0]/air_violations.shape[0]) # Formal actions divided by number of violations
enforcements["CAA"] = air_enforcements_metric
display(HTML("<h3>"+air_enforcements_metric +" formal enforcement actions per violation</h3>"))

In [ ]:
# Penalties each year per violating facility
air_penalties = air_enforcements.loc[air_enforcements["PENALTY_AMOUNT"]>0]
air_penalties_metric = formatter(sum(air_penalties["PENALTY_AMOUNT"]) / len(air_violations["PGM_SYS_ID"].unique())) #Divide the sum of penalties by number of violating facilities
air_penalties_max = formatter(max(air_penalties["PENALTY_AMOUNT"])) 
air_penalties_min = formatter(min(air_penalties["PENALTY_AMOUNT"])) 
penalties["CAA"] = air_penalties_metric
display(HTML("<h3>$"+air_penalties_metric +" per facility in violation</h3>"))
display(HTML("<h3>Max: $"+air_penalties_max +"</h3>"))
display(HTML("<h3>Min: $"+air_penalties_min +"</h3>"))

---

## Clean Water Act inspections in 2019

In [ ]:
# Find facilities with pollutant exceedences
water_inspections = None
try:
    sql = 'select "NPDES_ID", "REGISTRY_ID", "ACTUAL_END_DATE", "STATE_EPA_FLAG"' + \
        ' from "NPDES_INSPECTIONS" where "ACTUAL_END_DATE" like \'__/__/2019\''

    water_inspections = get_data( sql, "NPDES_ID" ) 
except EmptyDataError:
    print( "No data found")
water_inspections

            REGISTRY_ID ACTUAL_END_DATE STATE_EPA_FLAG
NPDES_ID
AK0000507  110030488620      12/17/2019              S
AK0021385  110000761453      08/26/2019              E
AK0022497  110039730459      02/25/2019              S
AKG370029  110028064387      08/21/2019              S
AKG520042  110064604094      06/07/2019              S
...                 ...             ...            ...
WYR320686  110055196746      11/07/2019              S
WYR320871  110070235311      03/25/2019              S
WV0038113  110000585894      09/17/2019              S
WV0038288  110070259137      08/20/2019              S
WV0038288  110070259137      03/07/2019              S

[52039 rows x 3 columns]

In [ ]:
# Number of inspections in 2019 per 1000 regulated facilities

water_inspections_metric = formatter((water_inspections.shape[0] / water_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
inspections["CWA"] = water_inspections_metric
display(HTML("<h3>"+water_inspections_metric +" inspections per 1000 facilities</h3>"))

## Effluent violations of the Clean Water Act in 2019
*NOTE*: Not other kind of violations (schedule, permit, single event)

In [ ]:
# Find facilities with pollutant exceedences
water_violations = None
try:
    sql = 'select "NPDES_ID", "EXCEEDENCE_PCT", "MONITORING_PERIOD_END_DATE", "VIOLATION_CODE", "PARAMETER_DESC"' + \
        ' from "NPDES_EFF_VIOLATIONS" where "VIOLATION_CODE" like \'E90\' and "MONITORING_PERIOD_END_DATE" like \'__/__/2019\''
    water_violations = get_data( sql, "NPDES_ID" ) 
except EmptyDataError:
    print( "No data found")
water_violations

           EXCEEDENCE_PCT  ...            PARAMETER_DESC
NPDES_ID                   ...
MA0100765            19.0  ...               Enterococci
WVG551350          1400.0  ...   Coliform, fecal general
KY0076635           728.0  ...                   E. coli
KY0105082            10.0  ...   Solids, total suspended
VA0085936             8.0  ...   Solids, total dissolved
...                   ...  ...                       ...
LA0079057            80.0  ...   Solids, total suspended
ID0020265            13.0  ...     BOD, 5-day, 20 deg. C
LAG534438           264.0  ...   Coliform, fecal general
ALG250007          5163.0  ...  Chlorine, total residual
LA0055310             9.0  ...   Solids, total suspended

[145037 rows x 4 columns]

In [ ]:
# Number of violations each year per 1000 regulated facilities

water_violations_metric = formatter((water_violations.shape[0] / water_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
violations["CWA"] = water_violations_metric
display(HTML("<h3>"+water_violations_metric+" violations per 1000 facilities</h3>"))

## Enforcement Actions and Penalties under the Clean Water Act in 2019

In [ ]:
# Find facilities with pollutant exceedences
water_enforcements = None
try:
    sql = 'select "NPDES_ID", "AGENCY", "ENF_TYPE_DESC", "SETTLEMENT_ENTERED_DATE", "FED_PENALTY_ASSESSED_AMT", "STATE_LOCAL_PENALTY_AMT"' + \
        ' from "NPDES_FORMAL_ENFORCEMENT_ACTIONS" where "SETTLEMENT_ENTERED_DATE" like \'__/__/2019\''

    water_enforcements = get_data( sql, "NPDES_ID" ) 
except EmptyDataError:
    print( "No data found")
water_enforcements

          AGENCY  ... STATE_LOCAL_PENALTY_AMT
NPDES_ID          ...
ALP000225  State  ...                 29150.0
ALR10BDL7  State  ...                 14000.0
AR0035696  State  ...                   600.0
AR0048879  State  ...                     NaN
CA0053597  State  ...                     NaN
...          ...  ...                     ...
TNU101369  State  ...                  3840.0
TXR05CA36  State  ...                 25000.0
TXR05EJ33  State  ...                   875.0
TXR15804V  State  ...                   875.0
UTR383817  State  ...                  6000.0

[4018 rows x 5 columns]

In [ ]:
# Number of formal actions in 2019 per violation
water_enforcements_metric = formatter(water_enforcements.shape[0]/water_violations.shape[0]) # Formal actions divided by number of violations
enforcements["CWA"] = water_enforcements_metric
display(HTML("<h3>"+water_enforcements_metric +" formal enforcement actions per violation</h3>"))

In [ ]:
# Penalties each year per violating facility
water_penalties = water_enforcements.loc[water_enforcements["FED_PENALTY_ASSESSED_AMT"]>0]
water_penalties_metric = formatter(sum(water_penalties["FED_PENALTY_ASSESSED_AMT"]) / len(water_violations.index.unique())) #Divide the sum of penalties by number of penalized facilities
water_penalties_max = formatter(max(water_penalties["FED_PENALTY_ASSESSED_AMT"])) 
water_penalties_min = formatter(min(water_penalties["FED_PENALTY_ASSESSED_AMT"]))
penalties["CWA"] = water_penalties_metric
display(HTML("<h3>$"+water_penalties_metric +" per facility in violation</h3>"))
display(HTML("<h3>Max: $"+water_penalties_max +"</h3>"))
display(HTML("<h3>Min: $"+water_penalties_min +"</h3>"))

## RCRA inspections in 2019

In [ ]:
# Find facilities with pollutant exceedences
waste_inspections = None
try:
    sql = 'select * from "RCRA_EVALUATIONS" where "EVALUATION_START_DATE" like \'__/__/2019\''

    waste_inspections = get_data( sql, "ID_NUMBER" ) 
except EmptyDataError:
    print( "No data found")
waste_inspections

             ACTIVITY_LOCATION  ... FOUND_VIOLATION
ID_NUMBER                       ...
ORQ000030450                OR  ...             Y
MAD982196164                MA  ...             N
ARD981147283                AR  ...             Y
KYD053348108                KY  ...             N
KYD981027469                KY  ...             N
...                        ...  ...             ...
ARD093417525                AR  ...             N
IDR000206581                ID  ...             Y
IDD073114654                ID  ...             N
ARD983274911                AR  ...             Y
OHD004274031                OH  ...             N

[22600 rows x 7 columns]

In [ ]:
# Number of inspections in 2019 per 1000 regulated facilities
waste_inspections_metric = formatter((waste_inspections.shape[0] / waste_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
inspections["RCRA"] = waste_inspections_metric
display(HTML("<h3>"+waste_inspections_metric+" inspections per 1000 facilities</h3>"))

## Violations of RCRA in 2019

In [ ]:
# Find facilities with pollutant exceedences
waste_violations = None
try:
    sql = 'select * from "RCRA_VIOLATIONS" where "DATE_VIOLATION_DETERMINED" like \'__/__/2019\''

    waste_violations = get_data( sql, "ID_NUMBER" ) 
except EmptyDataError:
    print( "No data found")
waste_violations

             ACTIVITY_LOCATION  ... SCHEDULED_COMPLIANCE_DATE
ID_NUMBER                       ...
MID006020275                MI  ...                       NaN
DEN201500044                DE  ...                       NaN
SCD069316271                SC  ...                       NaN
LAD981512460                LA  ...                       NaN
CAR000191650                CA  ...                       NaN
...                        ...  ...                       ...
FLD000823393                FL  ...                       NaN
FLD000823393                FL  ...                       NaN
MID985609056                MI  ...                       NaN
MIK174443509                MI  ...                       NaN
MIK368843843                MI  ...                       NaN

[14573 rows x 7 columns]

In [ ]:
# Number of violations in 2019 per 1000 regulated facilities
waste_violations_metric = formatter((waste_violations.shape[0] / waste_fac) * 1000) #Divide by regulated facilities and multiply by desired rate (per 1000)
violations["RCRA"] = waste_violations_metric
display(HTML("<h3>"+waste_violations_metric+" violations per 1000 facilities</h3>"))

## Enforcement Actions and Penalties under RCRA in 2019

In [ ]:
# Find facilities with enforcement actions
waste_enforcements = None
try:
    sql = 'select * from "RCRA_ENFORCEMENTS" where "ENFORCEMENT_ACTION_DATE" like \'__/__/2019\''

    waste_enforcements = get_data( sql, "ID_NUMBER" ) 
except EmptyDataError:
    print( "No data found")
waste_enforcements

             ACTIVITY_LOCATION ENFORCEMENT_IDENTIFIER  ... FSC_AMOUNT SCR_AMOUNT
ID_NUMBER                                              ...
AKD991281023                AK                    001  ...        NaN        NaN
ALD046481032                AL                    001  ...        NaN        NaN
ALD057202558                AL                    001  ...        NaN        NaN
ALD077647691                AL                    001  ...        NaN        NaN
ALD981020894                AL                    001  ...        NaN        NaN
...                        ...                    ...  ...        ...        ...
WVR000547760                WV                    001  ...        NaN        NaN
WIR000160010                WI                    001  ...        NaN        NaN
WIR000160150                WI                    001  ...        NaN        NaN
WIR000166371                WI                    001  ...        NaN        NaN
WIR000168880                WI                    001  ...        NaN        NaN

[6984 rows x 10 columns]

In [ ]:
# Number of enforcement actions each year per violation
waste_enforcements_metric = formatter(waste_enforcements.shape[0] / waste_violations.shape[0])
enforcements["RCRA"] = waste_enforcements_metric
display(HTML("<h3>"+waste_enforcements_metric+" enforcement actions per violation</h3>"))

In [ ]:
# Penalties each year per violating facility
waste_penalties = waste_enforcements.loc[waste_enforcements["FMP_AMOUNT"]>0]
waste_penalties_metric = formatter(sum(waste_penalties["FMP_AMOUNT"]) / len(waste_violations.index.unique())) #Divide by penalized facilities
waste_penalties_max = formatter(max(waste_penalties["FMP_AMOUNT"]))
waste_penalties_min = formatter(min(waste_penalties["FMP_AMOUNT"]))
penalties["RCRA"] = waste_penalties_metric
display(HTML("<h3>$"+waste_penalties_metric +" per facility in violation</h3>"))
display(HTML("<h3>Max: $"+waste_penalties_max +"</h3>"))
display(HTML("<h3>Min: $"+waste_penalties_min +"</h3>"))

## Greenhouse Gas Emissions in 2018 (latest data available)

In [ ]:
# Find facilities with pollutant exceedences
ghg_emissions = None
try:
    sql = 'select * from "POLL_RPT_COMBINED_EMISSIONS" where "REPORTING_YEAR" = \'2018\' and "PGM_SYS_ACRNM" = \'E-GGRT\''

    ghg_emissions = get_data( sql) 
except EmptyDataError:
    print( "No data found")
ghg_emissions

       REPORTING_YEAR   REGISTRY_ID  ... NEI_TYPE  NEI_HAP_VOC_FLAG
0                2018  110013317035  ...      NaN               NaN
1                2018  110001697799  ...      NaN               NaN
2                2018  110001697799  ...      NaN               NaN
3                2018  110001697799  ...      NaN               NaN
4                2018  110001697799  ...      NaN               NaN
...               ...           ...  ...      ...               ...
21678            2018  110007164736  ...      NaN               NaN
21679            2018  110007164736  ...      NaN               NaN
21680            2018  110013970621  ...      NaN               NaN
21681            2018  110013970621  ...      NaN               NaN
21682            2018  110013970621  ...      NaN               NaN

[21683 rows x 9 columns]

In [ ]:
# Emissions in 2019 per facility
ghg_emissions_metric = formatter(np.nansum(ghg_emissions["ANNUAL_EMISSION"]) / len(ghg_emissions["REGISTRY_ID"].unique())) #Divide by reporting facility
ghg_emissions_fac = ghg_emissions.groupby("PGM_SYS_ID")[["ANNUAL_EMISSION"]].sum() # Group by facility
ghg_emissions_max = formatter(np.nanmax(ghg_emissions_fac["ANNUAL_EMISSION"]))
ghg_emissions_min = formatter(np.nanmin(ghg_emissions_fac.loc[ghg_emissions_fac["ANNUAL_EMISSION"]>0]["ANNUAL_EMISSION"]))
emissions["GHG"] = ghg_emissions_metric
display(HTML("<h3>"+ghg_emissions_metric+" MTCO2e (metric tons of carbon dioxide equivalent) emissions per reporting facility</h3>"))
display(HTML("<h3>Max: "+ghg_emissions_max+" MTCO2e (metric tons of carbon dioxide equivalent) emissions</h3>"))
display(HTML("<h3>Min: "+ghg_emissions_min+" MTCO2e (metric tons of carbon dioxide equivalent) emissions</h3>"))
ghg_emissions_fac

            ANNUAL_EMISSION
PGM_SYS_ID
1000001          302529.480
1000002          110511.712
1000003           79393.210
1000004           55547.748
1000005           83863.020
...                     ...
1013419           28467.792
1013420           28356.444
1013481           29375.000
1013489           26073.752
1013497           53000.500

[7724 rows x 1 columns]

# Data Export

In [ ]:
data = [inspections,
violations,
enforcements,
penalties,
emissions]

units = ["#inspections per 1000",
"#violations per 1000",
"#actions per facility in violation",
"$ per facility in violation",
"amount of emissions (metric tons)"]

short_units = ["inspectionsper1000",
"violationsper1000",
"enforcementsperviolatingfacility",
"penaltiesperviolatingfacility",
"emissions2018"]

for index, program in enumerate(data):
    # create dataframe
    df = pd.DataFrame(program, index=[0]).T
    df = df.rename(columns={0: units[index]})
    filename= short_units[index]+"_All_USA_pg4_081120.csv" #active-facilities_All_MA-CD4_3b_080620.csv
    df.to_csv(filename)
    print(df)

     #inspections per 1000
CAA                 261.27
CWA                 148.41
RCRA                 37.30
     #violations per 1000
CAA                  4.38
CWA                413.62
RCRA                24.05
     #actions per facility in violation
CAA                                3.23
CWA                                0.03
RCRA                               0.48
     $ per facility in violation
CAA                    145670.14
CWA                       258.14
RCRA                     3169.69
    amount of emissions (metric tons)
GHG                         422134.34